@import './base/mixins';
@import './base/variables';
@import './libs/font';

* {
  font-family: 'Satoshi', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

@import './blocks/header';
@import './blocks/promo';
@import './blocks/clients';
@import './blocks/reviews';

@import './blocks/buttons';



@import './base/media';