//text color
$firstTextColor: #050F27;
$secondTextColor: #2A3347;

//block color
$greyBgColor: #F7F8F8;
$blueBgColor: #050F27;
$footerBgColor: #111B31;
$footerBgOpacity5: rgba(255, 255, 255, 0.05);
$footerBgOpacity3: rgba(255, 255, 255, 0.03);
