.btn {
    background: $firstTextColor;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 26px;
    width: 226px;
    height: 74px;
    border-radius: 26px;
    &__header {
        border-radius: 50px 100px 100px 50px;
        padding: 0 43px 0 36px;
        font-weight: 700;
        height: 91px;
    }
}