.header {
    margin-top: 42px;
    border-radius: 128px;
    padding-left: 62px;

    background: $greyBgColor;

    display: flex;
    justify-content: space-between;
    align-items: center;
    &__menu {
        &_wrapper {
            display: flex;
        }
        li {
            &:not(:first-child) {
                margin-left: 50px;
            }
        }
        &_item {
            color: $firstTextColor;
        }
    }
}