.header {
    margin-top: 42px;
    border-radius: 128px;
    padding-left: 62px;

    background: $greyBgColor;

    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        &:hover {
            animation: jello-horizontal 0.9s both;
        }
    }

    &__menu {
        &_wrapper {
            display: flex;
        }
        li {
            &:not(:first-child) {
                margin-left: 50px;
            }
        }
        &_item {
            color: $firstTextColor;
            &:after {
                background-color: $firstTextColor; 
                display: block;
                content: "";
                height: 2px;
                width: 0%;
                transition: all .3s ease-in-out;
            } 
            &:hover:after, &:focus:after {
                width: 100%
            }    
        }
    }
}