.services {
    background-color: $greyBgColor;
    border-radius: 80px;
    margin-top: 85px;
    padding: 80px 101px;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 26px;
        margin-top: 80px;
    }
    &__item {
        background-color: white;
        border-radius: 40px;
        padding: 40px 40px 92px;
        transition: all .3s ease-in-out;
        &_count {
            text-align: right;
        }
        &_title {
            margin-top: 100px;
        }
        &_descr {
            margin-top: 48px;
        }
        &:hover {
            background-color: $blueBgColor;
        }
        &:hover > &_count, &:hover > &_title, &:hover > &_descr {
            color: white
        }
    }
}